@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
:root {
  --clr-background: #272727;
  --clr-text: #f8f8ff;
  --clr-accent: #25bad0;
  --clr-secondary: #ffcb77;
}

body {
  place-content: center;
  text-transform: uppercase;
}

button {
  background-color: transparent;
  border: none;
  color: currentColor;
  font-family: inherit;
  cursor: pointer;
}

a {
  color: var(--clr-accent);
  font-weight: 700;
}

header:not([class]),
footer:not([class]) {
  display: flex;
}

header:not([class]) {
  padding-block: 2rem;
  justify-content: space-between;
}

footer:not([class]) {
  justify-content: center;
}

main:not([class]) {
  display: grid;
  place-content: center;
}

.accent {
  color: var(--clr-accent);
}

.ttt {
  display: grid;
  padding: 1rem;
  max-width: 600px;
  font-family: "Luckiest Guy", sans-serif;
}
.ttt__header {
  --txt-size: 5rem;
  text-align: center;
}
.ttt__header h1 {
  font-size: var(--txt-size);
  font-weight: 400;
  font-style: normal;
  color: var(--clr-secondary);
}
.ttt__header p {
  font-size: calc(var(--txt-size) * 0.5);
  height: calc(var(--txt-size) * 0.75);
  width: 100%;
  display: inline-block;
  padding-block-start: 1rem;
}
.ttt__main {
  position: relative;
}
.ttt__board {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  margin-block: 2rem;
}
.ttt__board.x .ttt__tile:not(.o):not(.x):hover::after, .ttt__board.o .ttt__tile:not(.x):not(.o):hover::after {
  opacity: 0.3;
  content: " ";
  background-color: currentcolor;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 70%;
  aspect-ratio: 1;
}
.ttt__board.x .ttt__tile:not(.x):not(.o):hover::after {
  left: 55% !important;
  -webkit-mask: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1350 1200"><path d="M1188,956c0,26.67-9.33,49.33-28,68l-136,136c-18.67,18.67-41.33,28-68,28s-49.33-9.33-68-28l-294-294-294,294c-18.67,18.67-41.33,28-68,28s-49.33-9.33-68-28L28,1024c-18.67-18.67-28-41.33-28-68s9.33-49.33,28-68l294-294L28,300C9.33,281.33,0,258.67,0,232s9.33-49.33,28-68L164,28C182.67,9.33,205.33,0,232,0s49.33,9.33,68,28l294,294L888,28c18.67-18.67,41.33-28,68-28s49.33,9.33,68,28l136,136c18.67,18.67,28,41.33,28,68s-9.33,49.33-28,68l-294,294,294,294c18.67,18.67,28,41.33,28,68Z"/></svg>') no-repeat;
  mask: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1350 1200"><path d="M1188,956c0,26.67-9.33,49.33-28,68l-136,136c-18.67,18.67-41.33,28-68,28s-49.33-9.33-68-28l-294-294-294,294c-18.67,18.67-41.33,28-68,28s-49.33-9.33-68-28L28,1024c-18.67-18.67-28-41.33-28-68s9.33-49.33,28-68l294-294L28,300C9.33,281.33,0,258.67,0,232s9.33-49.33,28-68L164,28C182.67,9.33,205.33,0,232,0s49.33,9.33,68,28l294,294L888,28c18.67-18.67,41.33-28,68-28s49.33,9.33,68,28l136,136c18.67,18.67,28,41.33,28,68s-9.33,49.33-28,68l-294,294,294,294c18.67,18.67,28,41.33,28,68Z"/></svg>') no-repeat;
}
.ttt__board.o .ttt__tile:not(.x):not(.o):hover::after {
  -webkit-mask: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1383 1402"><path d="M691.53,0c-922.11,15.75-921.97,1387.37.03,1402.99,922.08-15.75,921.94-1387.37-.03-1402.99ZM710.39,1006.72c-401.22-6.85-401.16-603.67.01-610.46,401.21,6.85,401.15,603.67-.01,610.46Z" fill="ghostwhite"/></svg>') no-repeat;
  mask: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1383 1402"><path d="M691.53,0c-922.11,15.75-921.97,1387.37.03,1402.99,922.08-15.75,921.94-1387.37-.03-1402.99ZM710.39,1006.72c-401.22-6.85-401.16-603.67.01-610.46,401.21,6.85,401.15,603.67-.01,610.46Z" fill="ghostwhite"/></svg>') no-repeat;
}
.ttt__tile {
  border: 0.5em solid;
  aspect-ratio: 1;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.ttt__tile:first-child, .ttt__tile:nth-child(2), .ttt__tile:nth-child(3) {
  border-top: none;
}
.ttt__tile:nth-child(3n+1) {
  border-left: none;
}
.ttt__tile:nth-child(3n+3) {
  border-right: none;
}
.ttt__tile:last-child, .ttt__tile:nth-child(8), .ttt__tile:nth-child(7) {
  border-bottom: none;
}
.ttt__tile.x, .ttt__tile.o {
  cursor: default;
}
.ttt__tile.x::after, .ttt__tile.o::after, .ttt__tile.x.winner::before, .ttt__tile.o.winner::before {
  --clr: currentcolor;
  content: "";
  background-color: var(--clr);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transform: translate(-50% -50%);
  width: 70%;
  aspect-ratio: 1;
}
.ttt__tile.x.winner::before, .ttt__tile.o.winner::before {
  --clr: #d83c3c;
  z-index: 1;
}
.ttt__tile.x::after, .ttt__tile.x.winner::before {
  left: 55% !important;
  -webkit-mask: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1350 1200"><path d="M1188,956c0,26.67-9.33,49.33-28,68l-136,136c-18.67,18.67-41.33,28-68,28s-49.33-9.33-68-28l-294-294-294,294c-18.67,18.67-41.33,28-68,28s-49.33-9.33-68-28L28,1024c-18.67-18.67-28-41.33-28-68s9.33-49.33,28-68l294-294L28,300C9.33,281.33,0,258.67,0,232s9.33-49.33,28-68L164,28C182.67,9.33,205.33,0,232,0s49.33,9.33,68,28l294,294L888,28c18.67-18.67,41.33-28,68-28s49.33,9.33,68,28l136,136c18.67,18.67,28,41.33,28,68s-9.33,49.33-28,68l-294,294,294,294c18.67,18.67,28,41.33,28,68Z"/></svg>') no-repeat;
  mask: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1350 1200"><path d="M1188,956c0,26.67-9.33,49.33-28,68l-136,136c-18.67,18.67-41.33,28-68,28s-49.33-9.33-68-28l-294-294-294,294c-18.67,18.67-41.33,28-68,28s-49.33-9.33-68-28L28,1024c-18.67-18.67-28-41.33-28-68s9.33-49.33,28-68l294-294L28,300C9.33,281.33,0,258.67,0,232s9.33-49.33,28-68L164,28C182.67,9.33,205.33,0,232,0s49.33,9.33,68,28l294,294L888,28c18.67-18.67,41.33-28,68-28s49.33,9.33,68,28l136,136c18.67,18.67,28,41.33,28,68s-9.33,49.33-28,68l-294,294,294,294c18.67,18.67,28,41.33,28,68Z"/></svg>') no-repeat;
}
.ttt__tile.o::after, .ttt__tile.o.winner::before {
  -webkit-mask: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1383 1402"><path d="M691.53,0c-922.11,15.75-921.97,1387.37.03,1402.99,922.08-15.75,921.94-1387.37-.03-1402.99ZM710.39,1006.72c-401.22-6.85-401.16-603.67.01-610.46,401.21,6.85,401.15,603.67-.01,610.46Z" fill="ghostwhite"/></svg>') no-repeat;
  mask: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1383 1402"><path d="M691.53,0c-922.11,15.75-921.97,1387.37.03,1402.99,922.08-15.75,921.94-1387.37-.03-1402.99ZM710.39,1006.72c-401.22-6.85-401.16-603.67.01-610.46,401.21,6.85,401.15,603.67-.01,610.46Z" fill="ghostwhite"/></svg>') no-repeat;
}
.ttt__tile.x::after {
  --clr: var(--clr-secondary);
}
.ttt__tile.o::after {
  --clr: var(--clr-accent);
}

.game_over {
  display: none;
}
.game_over.show {
  display: grid;
  place-content: center;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  transform: translate(0 -50%);
  width: 100%;
  aspect-ratio: 0.99;
  z-index: 2;
  text-align: center;
  font-size: 2.5rem;
}
.game_over.show::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: var(--clr-background);
  opacity: 0.9;
}
.game_over.show > * {
  margin-top: 2rem;
}
.game_over__message {
  padding-bottom: 2rem;
  font-size: 5rem;
}

#reset {
  display: block;
  padding: 1.5rem 4rem 1rem 4rem;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: var(--clr-secondary);
  color: var(--clr-background);
}
#reset:hover {
  background-color: transparent;
  color: var(--clr-secondary);
}
